/* -------- Variable CSS --------*/
:root {
    --black: #000000;
    --grey: #606060;
    --yellow: #ee9d24;
    --orange: #ef7e26;
    --white: #ffffff;
}

/* -------- Font face import -------- */
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}


/* -------- Reset all web parameters -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
    scroll-behavior: smooth;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text h1 {
    --size: 2px;
    letter-spacing: 2px;
    font-size: 5vw;
    color: var(--black);
    text-shadow: 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow);
}

.input-form {
    width: 300px;
    margin: 60px auto;
}

input, button {
    margin: 10px auto;
    width: 90%;
    height: 35px;
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

button {
    height: 45px;
    background-color: var(--yellow);
    transition-duration: all 200ms;
}

button a {
    color: var(--black);
    font-weight: 800;
    font-size: 18px;
}

button:hover {
    background-color: var(--black);
    border: 1px solid var(--orange);
    color: var(--white);
}

.btn:hover {
    color: var(--white);
}



.grouping {
    display: flex;
}