/* -------- Variable CSS --------*/
:root {
    --black: #000000;
    --grey: #606060;
    --yellow: #ee9d24;
    --orange: #ef7e26;
    --white: #ffffff;
}

/* -------- Font face import -------- */
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}

.heading h1 {
    text-align: center;
    color: var(--white);
    font-size: 72px;
    margin: 20px auto;
}

.input-form {
    width: 300px;
    margin: 60px auto;
    
}

input, button {
    margin: 10px auto;
    width: 90%;
    height: 35px;
    padding: 12px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

button {
    height: 45px;
    background-color: var(--yellow);
}

button a {
    color: var(--black);
}

button:hover {
    background-color: var(--orange);
}

.input-form p {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 12px;
}

.input-form p a {
    color: var(--yellow);
}

@media (max-width: 350px) {
    .heading h1 {
        font-size: 20vw;
    }

    .input-form {
        width: 90%;
    }

    .input-form p, .input-form p a {
        font-size: 8px;
    }

    input {
        margin: 20px auto;
    }
}