/* variable css */
:root {
    --black: #000000;
    --grey: #606060;
    --yellow: #ee9d24;
    --orange: #ef7e26;
    --white: #ffffff;
}

/* ---- navigation bar css ---- */
.nav {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    opacity: 0.9;
}

/* ---- navigation bar links ---- */
.logo {
    font-size: 32px;
    font-weight: 600;
    color: var(--yellow);
}

.white {
    color: var(--white);
}

.nav-lines i {
    color: var(--white);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 30%;
    margin: 0 20px;
}

.nav-links li {
    display: block;
    margin: auto 10px;
    color: var(--grey);
    transition-duration: 200ms;
}

.nav-links li:hover {
    transform: scale(1.2);
    font-weight: 800;
}

.nav-links li a {
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    transition: 200ms;
}

/* navigation bar lines for collapsable nav bar */
.nav-lines {
    display: none;
    margin: auto 0;
}

a hr {
    width: 0%;
    border: 0.5px solid transparent;
    transition: 300ms ease-in-out;
}

.nav-links li a:hover > hr {
    width: 80%;
    border: 0.5px solid var(--white);
}



@media (max-width: 900px) {
    nav {
        margin: 0 0;
        padding: 20px 30px;
        justify-content: space-between;
        background-color: #00000011;
    }

    .logo {
        display: flex;
    }

    .nav-lines {
        display: flex;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        z-index: 3;
        background-color: #101010;
        margin: 0 0;
        display: block;
        top: 70px;
        left: 0;
        right: 0px;
        width: 100%;
        height: 0vw;
        opacity: 0.95;
        transform: 200ms;
        overflow: hidden;
        transition: 200ms;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    .nav-links.active {
        height: 70vh;
        padding: 20px;
    }

    .nav-links li {
        justify-content: center;
        padding: 20px 0;
        text-align: center;
    }
}