/* -------- Variable CSS --------*/
:root {
    --black: #000000;
    --grey: #606060;
    --yellow: #ee9d24;
    --orange: #ef7e26;
    --white: #ffffff;
}

/* -------- Font face import -------- */
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}


/* -------- Reset all web parameters -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    /* background: url(../img/background.jpg); */
    background-size: cover;
    height: 100vh;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-color: #202020;
}

hr {
    width: 60%;
    margin: auto auto;
    border: 0.5px solid var(--grey);
}

.box {
    position: relative;
    top: 10vh;
    width: 90vw;
    height: 80vh;
    margin: auto auto;
    background-color: var(--black);
    background: url(./../img/black-background.jpg);
    background-position: center;
    border-radius: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: center;
    
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin100 {
    margin: 100px 0;
}

.main-text h1 {
    --size: 2px;
    letter-spacing: 2px;
    font-size: 8vw;
    color: var(--black);
    text-shadow: 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow);
}

.main-text p {
    width: 100%;
    font-size: 16px;
    color: var(--white);
}

.main-img img {
    width: 40vw;
    margin: 0px auto;
}

.main-text a {
    display: inline-block;
    margin: 20px 0;
    padding: 12px 20px;
    color: var(--white);
    border: 2px solid var(--yellow);
    border-radius: 10px;
    transition-duration: 200ms;
}

.main-text a:hover {
    border: 2px solid var(--orange);
    background-color: var(--black);
    transform: scale(1.1);
}

.about-us {
    margin: 80px auto;
    padding: 60px;
}

.about-img img {
    width: 60vw;
    margin: auto auto;
}

.about-text p {
    width: 50%;
    text-align: center;
    margin: auto auto;
    color: var(--white);
}

.explore-button {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.explore-button p a {
    display: inline-block;
    margin: 20px 0;
    padding: 12px 20px;
    color: var(--white);
    border: 2px solid var(--yellow);
    border-radius: 10px;
    transition-duration: 200ms;
}

.explore-button p a:hover {
    border: 2px solid var(--orange);
    background-color: var(--black);
    transform: scale(1.1);
}

footer {
    padding: 50px 0;
    color: var(--white);
    text-align: center;
}

footer a {
    color: var(--orange);
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a {
    margin: 10px;
}

@media (max-width: 600px) {
    .box {
        width: 95vw;
    }

    .main {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .main-text {        
        text-align: center;
        margin: auto auto;
    }

    .main-text h1 {
        font-size: 12vw;
    }

    .main-img img {
        width: 80vw;
        margin: 30px auto;
    }

    .about-us {
        margin: 100px auto;
        padding: 0;
    }

    .about-text p {
        width: 80%;
        font-size: 12px;
    }

    .about-img img {
        width: 85vw;
    }
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 10px;
}