/* -------- Variable CSS --------*/
:root {
    --black: #000000;
    --grey: #606060;
    --yellow: #ee9d24;
    --orange: #ef7e26;
    --white: #ffffff;
    --green: #0c770c;
    --red: #ff6d6d;
}

/* -------- Font face import -------- */
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}


/* -------- Reset all web parameters -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    /* background: url(../img/background.jpg); */
    background-size: cover;
    height: 100vh;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-color: #202020;
}

hr {
    width: 60%;
    margin: auto auto;
    border: 0.5px solid var(--grey);
}

.box {
    position: relative;
    top: 10vh;
    width: 90vw;
    height: 80vh;
    margin: auto auto;
    background-color: var(--black);
    background: url(./../img/black-background.jpg);
    background-position: center;
    border-radius: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: center;
    
}

.main-text, .main-text-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin100 {
    margin: 100px 0;
}

.main-text h1 {
    --size: 2px;
    letter-spacing: 2px;
    font-size: 8vw;
    color: var(--black);
    text-shadow: 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow);
}

.main-text p {
    width: 100%;
    font-size: 16px;
    color: var(--white);
}

.main-text-pages {
    --size: 2px;
    letter-spacing: 2px;
    font-size: 4vw;
    color: var(--black);
    text-shadow: 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow);
}

.main-img img {
    width: 40vw;
    margin: 0px auto;
}

.main-text a {
    display: inline-block;
    margin: 20px 0;
    padding: 12px 20px;
    color: var(--white);
    border: 2px solid var(--yellow);
    border-radius: 10px;
    transition-duration: 200ms;
}

.main-text a:hover {
    border: 2px solid var(--orange);
    background-color: var(--black);
    transform: scale(1.1);
}

.about-img img {
    width: 60vw;
    margin: auto auto;
}

.about-text p {
    width: 50%;
    text-align: center;
    margin: auto auto;
    color: var(--white);
}

.explore-button {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.explore-button p a {
    display: inline-block;
    margin: 20px 0;
    padding: 12px 20px;
    color: var(--white);
    border: 2px solid var(--yellow);
    border-radius: 10px;
    transition-duration: 200ms;
}

.explore-button p a:hover {
    border: 2px solid var(--orange);
    background-color: var(--black);
    transform: scale(1.1);
}

.input-form {
    width: 320px;
    margin: 30px auto;
}

.input-form button {
    width: 90%;
    margin-left: 10px;
}

input, textarea, button {
    width: 90%;
    resize: none;
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--black);
    border: 1px solid var(--yellow);
    color: var(--white);
}

input, textarea {
    margin: 10px 10px;
}

input, button {
    height: 45px;
}

button {
    background-color: var(--yellow);
    transition-duration: 200ms;
    color: var(--black);
    cursor: pointer;
}

button:hover {
    background-color: var(--orange);
}

.contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.contact-links i {
    color: var(--white);
    font-size: 30px;
    margin: 10px;
    transition-duration: 200ms;
}

.contact-links i:hover {
    color: var(--yellow);
}

/* -------- Footer CSS -------- */

footer {
    padding: 50px 0;
    color: var(--white);
    text-align: center;
}

footer a {
    color: var(--orange);
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a {
    margin: 10px;
}

@media (max-width: 600px) {
    .box {
        width: 95vw;
    }

    .main {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .main-text {        
        text-align: center;
        margin: auto auto;
    }

    .main-text h1 {
        font-size: 12vw;
    }

    .main-text-pages {
        font-size: 8vw;
    }

    .main-img img {
        width: 80vw;
        margin: 30px auto;
    }

    .about-us {
        margin: 100px auto;
        padding: 0;
    }

    .about-text p {
        width: 80%;
        font-size: 12px;
    }

    .about-img img {
        width: 85vw;
    }
}

@media (max-width: 400px) {
    .input-form {
        width: 90%;
    }

    input, textarea, button {
        width: 100%;
        margin: 10px 0;
    }

    .input-form button {
        width: 100%;
        margin-left: 0px;
    }

    footer p {
        font-size: 12px;
    }

    .footer-links a {
        font-size: 10px;
    }
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 10px;
}


/* ========== ========= Navbar CSS ======== ======== */

/* ---- navigation bar css ---- */
.nav {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    opacity: 0.9;
}

/* ---- navigation bar links ---- */
.logo {
    font-size: 32px;
    font-weight: 600;
    color: var(--yellow);
}

.white {
    color: var(--white);
}

.nav-lines i {
    color: var(--white);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 30%;
    margin: 0 20px;
}

.nav-links li {
    display: block;
    margin: auto 10px;
    color: var(--grey);
    transition-duration: 200ms;
}

.nav-links li:hover {
    transform: scale(1.2);
    font-weight: 800;
}

.nav-links li a {
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    transition: 200ms;
}

/* navigation bar lines for collapsable nav bar */
.nav-lines {
    display: none;
    margin: auto 0;
}

a hr {
    width: 0%;
    border: 0.5px solid transparent;
    transition: 300ms ease-in-out;
}

.nav-links li a:hover > hr {
    width: 80%;
    border: 0.5px solid var(--white);
}



@media (max-width: 900px) {
    nav {
        margin: 0 0;
        padding: 20px 30px;
        justify-content: space-between;
        background-color: #00000011;
    }

    .logo {
        display: flex;
    }

    .nav-lines {
        display: flex;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        z-index: 3;
        background-color: #101010;
        margin: 0 0;
        display: block;
        top: 70px;
        left: 0;
        right: 0px;
        width: 100%;
        height: 0vw;
        opacity: 0.95;
        transform: 200ms;
        overflow: hidden;
        transition: 200ms;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    .nav-links.active {
        height: 70vh;
        padding: 20px;
    }

    .nav-links li {
        justify-content: center;
        padding: 20px 0;
        text-align: center;
    }
}


/* ========== ========= All pages CSS ======== ======== */

.all-pages .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-pages .main-text h1 {
    --size: 2px;
    letter-spacing: 2px;
    font-size: 5vw;
    color: var(--black);
    text-shadow: 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow);
}


/* ========== ========= Login + Register Pages CSS ======== ======== */

.login-text h1 {
    --size: 2px;
    letter-spacing: 2px;
    font-size: 5vw;
    color: var(--black);
    text-shadow: 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow);
}

.submit-message {
    display: flex;
    justify-content: center;
    width: 290px;
    margin: 50px auto 0px auto;
    padding: 8px;
    background-color: var(--black);
    font-size: 12px;
    border: 1px solid var(--yellow);
    border-radius: 8px;
}

.submit-message p {
    display: flex;
    align-items: center;
}

.submit-message i {
    font-size: 18px;
    padding: 0 5px;
}

.login-page .input-form {
    width: 320px;
    margin: 20px auto;
}

.login-page input, .login-page button {
    margin: 10px auto;
    width: 90%;
    height: 45px;
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--black);
    border: 1px solid var(--yellow);
    color: var(--white);
}

.login-page button {
    height: 45px;
    background-color: var(--yellow);
    color: var(--black);
    transition-duration: 200ms;
}

.login-page button a {
    color: var(--black);
    font-weight: 800;
    font-size: 18px;
}

.login-page button:hover {
    background-color: var(--orange);
}

.login-page .input-form p {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 12px;
    /* padding-bottom: 100vh; */
}

.login-page .input-form p a {
    color: var(--yellow);
}

@media (max-width: 900px) {
    .login-text h1 {
        font-size: 10vw;
    }
}

@media (max-width: 350px) {
    .login-text h1 {
        font-size: 20vw;
    }

    .login-page .input-form {
        width: 90%;
    }

    .login-page .input-form p, .login-page .input-form p a {
        font-size: 8px;
    }

    .login-page input {
        margin: 20px auto;
    }
}


/* ========== ========= Explore + Cart Page CSS ======== ======== */

.explore-cart-page .title {
    --size: 2px;
    letter-spacing: 2px;
    font-size: 2vw;
    text-align: center;
    color: var(--black);
    text-shadow: 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow), 0px 0px var(--size) var(--yellow);
}

.explore-cart-page .explore-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin: 50px auto;
}

.explore-cart-page .drink {
    width: 250px;
    padding: 20px;
    margin: 10px;
    border: 1px solid var(--white);
    border-radius: 8px;
    background-color: var(--black);
}

.explore-cart-page .drink-img img {
    width: 200px;
    margin: auto auto;
}

.explore-cart-page .drink-text {
    color: var(--white);
    margin: 10px 0;
}

.explore-cart-page .drink-name {
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}

.explore-cart-page .drink-details {
    width: 90%;
}

.explore-cart-page .drink-price {
    font-size: 22px;
    text-align: center;
}

.explore-cart-page .grouping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.explore-cart-page .add-to-cart {
    width: 100%;
    margin: 10px 0;
    padding: 5px 20px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 4px;
    transition-duration: 200ms;
}

.explore-cart-page .add-to-cart:hover {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--yellow);
}

.explore-cart-page .go-to-cart {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.explore-cart-page .go-to-cart a {
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 700;
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px;
    transition-duration: 200ms;
}

.explore-cart-page .go-to-cart a:hover {
    background-color: var(--orange);
}

/* -------- Add to Cart Overlay -------- */
.explore-cart-page .add-to-cart-overlay {
    position: fixed;
    opacity: 0;
    left: -200px;
    top: 50%;
    width: 300px;
    margin: auto auto;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--yellow);
    border-right: none;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 600;
    border-radius: 4px;
    transition-duration: 300ms;
}

.explore-cart-page .add-to-cart-overlay.show {
    left: 50px;
    opacity: 1;
}

@media (max-width: 1000px) {
    .explore-cart-page .title h1 {
        font-size: 7vw;
    }

    .explore-cart-page .explore-menu {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .explore-cart-page .title h1 {
        margin: 20px 0;
        font-size: 12vw;
    }
}



/* ========== ========= Checkout Page CSS ======== ======== */


.checkout-page .input-form {
    width: 400px;
    margin: 60px auto;
    padding: 30px 10px 15px 10px;
    border: 1px solid var(--yellow);
    border-radius: 20px;
}

.checkout-page .input-form h1 {
    margin: 0 0 20px 0;
    text-align: center;
    color: var(--yellow);
}

.checkout-page .input-form p {
    font-size: 10px;
    text-align: center;
    color: var(--grey);
}

.checkout-page input, button {
    margin: 10px auto;
    width: 98%;
    height: 35px;
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: 8px;
}

.checkout-page button {
    height: 45px;
    background-color: var(--yellow);
    transition-duration: all 200ms;
    color: var(--black);
    font-weight: 800;
    font-size: 14px;
}

.checkout-page button:hover {
    background-color: var(--black);
    border: 1px solid var(--orange);
    color: var(--white);
}

.checkout-page .btn:hover {
    color: var(--white);
}

.checkout-page .grouping {
    display: flex;
    justify-content: space-between;
}

.checkout-page .grouping input {
    margin: 5px 5px;
}

@media (max-width: 450px) {
    .checkout-page .input-form {
        width: 95%;
    }
}