/* -------- Variable CSS --------*/
:root {
    --black: #000000;
    --very-light-blue: #d6ecf7;
    --light-blue: #91ccea;
    --blue: #3da2da;
    --button-blue: #5decfc;
    --text-blue: #152c62;
    --not-focus-text: #5a96b8;
    --white: #ffffff;
}

/* -------- Font face import -------- */
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}


/* -------- Reset all web parameters -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    background: url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

.box {
    position: relative;
    top: 10vh;
    width: 90vw;
    height: 80vh;
    margin: auto auto;
    background-color: var(--black);
    background: url(./../img/black-background.jpg);
    background-position: center;
    border-radius: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: center;
    
}

.main-text {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text h1 {
    --size: 2px;
    font-size: 8vw;
    color: var(--black);
    text-shadow: 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white);
}

.main-text p {
    width: 100%;
    font-size: 16px;
    color: var(--white);
}

.main-img img {
    width: 40vw;
    margin: 50px auto;
}

.about-img img {
    width: 60vw;
    margin: auto auto;
}

@media (max-width: 600px) {
    .box {
        width: 95vw;
    }

    .main {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .main-text {        
        text-align: center;
        margin: auto auto;
    }

    .main-text h1 {
        font-size: 15vw;
    }

    .main-img img {
        width: 70vw;
    }
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 10px;
}